<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/commons/header::header ('Index','/static/assets/pages/css/index.css')"></head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">

<div th:replace="/commons/top::top"></div>

<div class="clearfix"></div>

<!-- 主体[==START==] -->
<div class="page-container">

    <div th:replace="/commons/left::left"></div>

    <!-- 右侧内容[==START==] -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <span>Dashboard</span>
                    </li>
                </ul>
            </div>
            asd
        </div>
    </div>
    <!-- 右侧内容[==END==] -->

</div>
<!--主体[==END==] -->

<div th:replace="/commons/footer::footer"></div>

<div th:replace="/commons/quick_sidebar::quickSidebar"></div>

<div th:replace="/commons/onload_js::onloadJS('/static/assets/pages/js/index.js')"></div>
</body>
</html>