<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Onload Js</title>
</head>
<body>
<div th:fragment="onloadJS(jsPaths)">

    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/respond.min.js}" src="../../static/assets/global/plugins/respond.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/excanvas.min.js}" src="../../static/assets/global/plugins/excanvas.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/ie8.fix.min.js}" src="../../static/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->

    <!-- 核心插件脚本[==START==] -->
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/jquery.min.js}" src="../../static/assets/global/plugins/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/bootstrap/js/bootstrap.min.js}" src="../../static/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/js.cookie.min.js}" src="../../static/assets/global/plugins/js.cookie.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" src="../../static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/jquery.blockui.min.js}" src="../../static/assets/global/plugins/jquery.blockui.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" src="../../static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/global/scripts/common.js}" src="../../static/assets/global/scripts/common.js"></script>
    <!-- 核心插件脚本[==END==] -->

    <!-- 全局主题脚本[==START==] -->
    <script type="text/javascript" th:src="@{/static/assets/global/scripts/app.min.js}" src="../../static/assets/global/scripts/app.min.js"></script>
    <!-- 全局主题脚本[==END==] -->

    <!-- 主题布局脚本[==START==] -->
    <script type="text/javascript" th:src="@{/static/assets/layout/scripts/layout.min.js}" src="../../static/assets/layout/scripts/layout.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/layout/scripts/demo.min.js}" src="../../static/assets/layout/scripts/demo.min.js"></script>
    <script type="text/javascript" th:src="@{/static/assets/layout/global/scripts/quick-sidebar.min.js}" src="../../static/assets/layout/global/scripts/quick-sidebar.min.js"></script>
    <!-- 主题布局脚本[==END==] -->

    <!-- 页面级插件脚本[==START==] -->
    <script type="text/javascript" th:each="jsPath,status:${#strings.setSplit(jsPaths,',')}" th:src="@{${jsPath}}"></script>
    <!-- 页面级插件脚本[==END==] -->
</div>
</body>
</html>